
<div class="field">
    <div class="label">Notification Group</div>
    <div class="value">{% for subobject in object.lod_notification_group.all %}{% if not forloop.first %}, {% endif %}{{ subobject }}{% endfor %}</div>
</div>
<div class="field">
    <div class="label">Job Name</div>
    <div class="value">{{ object.lod_job_name }}</div>
</div>
<div class="field">
    <div class="label">PO Number</div>
    <div class="value">{{ object.lod_ponumber }}</div>
</div>
<div class="field">
    <div class="label">Builder</div>
    <div class="value">{{ object.lod_builder }}</div>
</div>
<div class="field">
    <div class="label">Supplier</div>
    <div class="value">{{ object.lod_supplier }}</div>
</div>
<div class="field">
    <div class="label">Supplier's PO Number</div>
    <div class="value">{{ object.lod_sponumber }}</div>
</div>
<div class="field">
    <div class="label">Work Type</div>
    <div class="value">{{ object.lod_work_type }}</div>
</div>
<div class="field">
    <div class="label">Status</div>
    <div class="value">{{ object.lod_status }}</div>
</div>
<div class="field">
    <div class="label">Location</div>
    <div class="value">{{ object.lod_location }}</div>
</div>
<div class="field">
    <div class="label">Notes</div>
    <div class="value">{{ object.lod_notes }}</div>
</div>
<div class="field">
    <div class="label">Date Modified</div>
    <div class="value">{{ object.lod_mod_date }}</div>
</div>
<div><h2>History</h2></div>
{% for his in object.history.all %}
    <div>
        {{ his }}
    </div>
{% endfor %}
