{% extends 'spltcs/_ajax.html' %}
{% load static %}
{% block content %}
{% endblock %}
{% block javascript %}
<script type="text/javascript">

function closeMe( iframeId ) {
    var iframe = window.parent.document.getElementById(iframeId);
    var button = iframe.parentNode.getElementsByClassName("button_addable")[0];
    if( iframe != null ){
        iframe.remove();
    }
    if( button != null ) {
        button.innerHTML = button.getAttribute('data-innerhtml');
    }
    
}
    
</script>
{% endblock %}
