{% if thisview=="list" %}
  <div class="menuitem this">
    List
  </div>
{% else %}
  <div class="menuitem">
    <a href="{% url 'roll_list' %}">List</a>
  </div>
{% endif %}
{% if perms.entities.add_roll %}
  {% if thisview=="create" %}
    <div class="menuitem this">
      Create
    </div>
  {% endif %}
  {% else %}
    <div class="menuitem">
      <a href="{% url 'roll_create' %}">Create</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.entities.view_roll %}
  {% if thisview=="detail" %}
    <div class="menuitem this">
      Detail
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'roll_detail' object.pk %}">Detail</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.entities.change_roll %}
  {% if thisview=="update" %}
    <div class="menuitem this">
      Update
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'roll_update' object.pk %}">Update</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.entities.delete_roll %}
  {% if thisview=="delete" %}
    <div class="menuitem this">
      Delete
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'roll_delete' object.pk %}">Delete</a>
    </div>
  {% endif %}
{% endif %}
