
{% include 'spltcs/_detail_field.html' with detailfield=object.get_entity_type_display label='Entity Type' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.full_name label='Full Name' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.short_name label='Short Name' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.member_of label='Member Of' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.supervisor label='Supervisor' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.job_title label='Job Title' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.user label='User' %}
