<select name="{{ widget.name }}" class="select_addable" {% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for widget in group_choices %}
  {% include widget.template_name %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
<button {% if 'hidden_button' in widget.attrs.class %} style='display:none' {% endif %} id="button_add_{{ widget.name }}" class="button_addable" data-action="add" data-fieldname="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>Add</button> 
