{% extends 'spltcs/_base.html' %}
{% load static %}
{% block app_title %}
- Inventory 
{% endblock %}
{% block headstyles %}
<link rel="stylesheet" type="text/css" href="{% static 'inventory/inventory.css' %}">
{% endblock %}
{% block appheader %}
<h1>Inventory</h1>
{% endblock %}
{% block appmenu %}
    {% if user.is_authenticated %}
        <div class="menuitem ">
            <a href="{% url 'item_list' %}">Items</a>
        </div>
        <div class="menuitem ">
            <a href="{% url 'makemodel_list' %}">Models</a>
        </div>
        <div class="menuitem ">
            <a href="{% url 'role_list' %}">Roles</a>
        </div>
        <div class="menuitem ">
            <a href="{% url 'category_list' %}">Categories</a>
        </div>
    {% endif %}
{% endblock %}
{% block objectheader %}
{% endblock %}
{% block objectemenu %}
{% endblock %}
{% block content %}
{% endblock %}
{% block javascript %}
{% endblock %}
{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
