{% if thisview == "list" %}
  <div class="menuitem this">
    List
  </div>
{% else %}
  <div class="menuitem">
    <a href="{% url 'makemodel_list' %}">List</a>
  </div>
{% endif %}
{% if perms.inventory.add_makemodel %}
  {% if thisview == "create" %}
    <div class="menuitem this">
      Create
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'makemodel_create' %}">Create</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.inventory.view_makemodel %}
  {% if thisview == "detail" %}
    <div class="menuitem this">
      Detail
    </div>
  {% elif thisview == "list" or thisview == "create" %}
    <div class="menuitem unavailable">
      Detail
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'makemodel_detail' object.pk %}">Detail</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.inventory.change_makemodel %}
  {% if thisview == "update" %}
    <div class="menuitem this">
      Update
    </div>
  {% elif thisview == "list" or thisview == "create" %}
    <div class="menuitem unavailable">
      Update
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'makemodel_update' object.pk %}">Update</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.inventory.delete_makemodel %}
  {% if thisview == "delete" %}
    <div class="menuitem this">
      Delete
    </div>
  {% elif thisview == "list" or thisview == "create" %}
    <div class="menuitem unavailable">
      Delete
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'makemodel_delete' object.pk %}">Delete</a>
    </div>
  {% endif %}
{% endif %}
