{% extends './_base.html' %}
{% block content %}
	<form method="post">
{% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}


		{{ form.media }}
		{% csrf_token %}
    {% include './_form_field.html' with formfield=form.familiar_name %}
    {% include './_form_field.html' with formfield=form.makemodel %}
    {% include './_form_field.html' with formfield=form.roles %}
    {% include './_form_field.html' with formfield=form.hostname %}
    {% include './_form_field.html' with formfield=form.serial_number %}
    {% include './_form_field.html' with formfield=form.asset_number %}
    {% include './_form_field.html' with formfield=form.barcode %}
    {% include './_form_field.html' with formfield=form.home %}
    {% include './_form_field.html' with formfield=form.location %}
    {% include './_form_field.html' with formfield=form.condition %}
    {% include './_form_field.html' with formfield=form.inventory %}
    {% include './_form_field.html' with formfield=form.keeper %}
    {% include './_form_field.html' with formfield=form.borrower %}
    {% include './_form_field.html' with formfield=form.lessor %}
    {% include './_form_fieldset_vari.html' with formset=vari_field_values %}
    {% include './_form_field.html' with formfield=form.notes %}
    <div class="formFieldWrapper">
      <div class="formFieldLabel">
        {{ form.send_mail.label_tag }}
      </div>
    </div>
    <div class="formFieldWrapper">
      <div class="formFieldLabel">
      </div>
      <div class="formFieldWrapper">
        <button type="submit" id="button_submit">Save</button>
      </div>
    </div>
	</form>
{% endblock %}


