
{% include 'spltcs/_detail_field.html' with detailfield=object.familiar_name label='Familiar Name' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.serial_number label='Serial Number' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.makemodel label='Model' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.asset_number label='Asset Number' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.barcode label='Barcode' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.hostname label='HostName' %}
{% include 'spltcs/_detail_many_field.html' with detailfield=object.roles label='Roles' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.home label='Home' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.location label='Location' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.keeper label='Keeper' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.lesser label='Lessor' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.inventoried label='Date Inventoried' %}
{% include 'spltcs/_detail_field.html' with detailfield=object.notes label='Notes' %}
