{% extends './_base.html' %}
{% load static %}
{% block objectheader %}
<h2>Models</h2>
{% endblock %}
{% block objectmenu %}
    {% include './_makemodel_menu.html' with thisview='list' %}
{% endblock %}
{% block content %}
                                
    {% if object_list %}
    <div class="object_list">
        <div class="row">
            <div class="cell span1 actions">&nbsp;</div>
            {% include 'spltcs/_list_head.html' with label='Brand'  span='4' %}
            {% include 'spltcs/_list_head.html' with label='Name'  span='4' %}
            {% include 'spltcs/_list_head.html' with label='Part Number'  span='3' %}
            {% include 'spltcs/_list_head.html' with label='Description'  span='5' %}
            {% include 'spltcs/_list_head.html' with label='Categories'  span='3' %}
        </div>
        {% for object in object_list %}
            <div class="row">
                <div class="cell span1 actions">
                    <div>{% if perms.inventory.view_makemodel %}<a href="{% url 'makemodel_detail' object.id %}">View</a>{% else %}&nbsp;{% endif %}</div>
                    <div>{% if perms.inventory.change_makemodel %}<a href="{% url 'makemodel_update' object.id %}">Edit</a>{% else %}&nbsp;{% endif %}</div>
                </div>
                {% include 'spltcs/_list_field.html' with column=object.brand span='4' %}
                {% include 'spltcs/_list_field.html' with column=object.name span='4' %}
                {% include 'spltcs/_list_field.html' with column=object.part_number span='3' %}
                {% include 'spltcs/_list_field.html' with column=object.description span='5' %}
                {% include 'spltcs/_list_many_field.html' with column=object.categories span='3' %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
{% block javascript %}
<script src="{% static 'spltcs/queryform.js' %}"></script>
{{ block.super }}
<script type="text/javascript">
</script>
{% endblock %}

{% comment %}
vim: ai et sts=4 ts=4 sw=4
{% endcomment %}
