{% extends './_base.html' %}
{% load static %}
{% block objectheader %}
<h2>{{ object }} - Delete</h2>
{% endblock %}
{% block objectmenu %}
<div class="menuitem">
	<a href="{% url 'role_list' %}">List</a>
</div>
<div class="menuitem">
	<a href="{% url 'role_detail' object.pk %}">Detail</a>
</div>
{% if perms.inventory.change_role %}
<div class="menuitem">
	<a href="{% url 'role_update' object.pk %}">Update</a>
</div>
{% endif %}
{% if perms.inventory.delete_role %}
<div class="menuitem">
	<a href="{% url 'role_delete' object.pk %}">Delete</a>
</div>
{% endif %}
{% endblock %}
{% block content %}

	<form method="post">
		{% csrf_token %}
    <div class="formFieldWrapper">
      <div class="formFieldLabel">
      </div>
      <div class="formFieldWrapper">
        <button type="submit" id="button_delete">Confirm Delete</button>
      </div>
    </div>
  </form>

  <div><a href="{% url 'role_detail' object.pk %}">Cancel</a></div>

  {% include './role_detail_include.html' %}
{% endblock %}
