{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        Suffolk Public Library  - Technology and Content Strategy {% block app_title %}{% endblock %}
	</title>
    <link rel="stylesheet" type="text/css" href="{% static 'spltcs/spltcs.css' %}"/>
    {% block headstyles %}
    {% endblock %}
    {% block headscripts %}
    {% endblock %}
</head>
<body>
<div id="container">
    <div id="adminmenu" class="menubar" >
        <div class="menuitem ">
            {% if request.user.is_staff %}
                <a href="{% url 'admin:index' %}" >Admin</a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div class="menuitem ">
            <a href="{% url 'home' %}">Home</a>
        </div>
        {% if user.is_authenticated %}
          <div class="menuitem">
            <a href="{% url 'logout' %}" >
              log out {{ user.get_username }}
            </a>
          </div>
        {% else %}
          <div class="menuitem">
            <a href="{% url 'login' %}" >Log In</a>
          </div>
        {% endif %}
        </div>
    </div>
    <div id="page-header">
        <div id="header-logo">
            <img src="{% static '/spltcs/spllogo.png' %}">
        </div>
        <div id="header-title">
            <h1>
                Suffolk Public Library  - Technology and Content Strategy
            </h1>
        </div>
    </div>
    <div id="mainmenu" class="menubar" >
        {% if user.is_authenticated %}
          <div class="menuitem">
            <a href="{% url 'inventory' %}">Inventory</a>
          </div>
          <div class="menuitem">
            <a href="#">Maintenance</a>
          </div>
          <div class="menuitem">
              <a href="{% url 'entities'%}">Entities</a>
          </div>
        {% endif %}
        </div>
    </div>
    <div id="appheader">
        {% block appheader %}
        {% endblock %}
    </div>
    <div id="appmenu" class="menubar">
        {% block appmenu %}
        {% endblock %}
    </div>
    <div id="objectheader">
        {% block objectheader %}
        {% endblock %}
    </div>
    <div id="objectmenu" class="menubar">
        {% block objectmenu %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% block javascript %}
{% endblock %}
</body>
</html>
{% comment %}
vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
