{% if thisview == "list" %}
  <div class="menuitem this">
    List
  </div>
{% else %}
  <div class="menuitem">
    <a href="{% url 'ticket_list' %}">List</a>
  </div>
{% endif %}
{% if perms.trouble.add_ticket %}
  {% if thisview == "create" %}
    <div class="menuitem this">
      Create
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'ticket_create' %}">Create</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.trouble.view_ticket %}
  {% if thisview == "detail" %}
    <div class="menuitem this">
      Detail
    </div>
  {% elif thisview == "list" or thisview == "create" %}
    <div class="menuitem unavailable">
      Detail
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'ticket_detail' object.pk %}">Detail</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.trouble.change_ticket %}
  {% if thisview == "update" %}
    <div class="menuitem this">
      Update
    </div>
  {% elif thisview == "list" or thisview == "create" %}
    <div class="menuitem unavailable">
      Update
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'ticket_update' object.pk %}">Update</a>
    </div>
  {% endif %}
{% endif %}
{% if perms.trouble.delete_ticket %}
  {% if thisview == "delete" %}
    <div class="menuitem this">
      Delete
    </div>
  {% elif thisview == "list" or thisview == "create" %}
    <div class="menuitem unavailable">
      Delete
    </div>
  {% else %}
    <div class="menuitem">
      <a href="{% url 'ticket_delete' object.pk %}">Delete</a>
    </div>
  {% endif %}
{% endif %}
