{% load static %}
	<form id="form" method="post">
{% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}


		{{ form.media }}
		{% csrf_token %}

    {% include 'spltcs/_form_field.html' with formfield=form.item %}
    {% include 'spltcs/_form_field.html' with formfield=form.submitter %}
    {% include 'spltcs/_form_field.html' with formfield=form.description %}
    {% include 'spltcs/_form_field.html' with formfield=form.impact %}
    {% include 'spltcs/_form_field.html' with formfield=form.date_reported %}
    <hr>
    <h2>Updates</h2>
    {{ ticketresponses.management_form }}
    {% for subform in ticketresponses.forms %}
      {% for hidden in subform.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% include 'spltcs/_form_field.html' with formfield=subform.notes %}
      {% include 'spltcs/_form_field.html' with formfield=subform.status %}
      {% include 'spltcs/_form_field.html' with formfield=subform.date_updated delete=subform.DELETE %}
    {% endfor %}
    <div style="display:none;" id="id_ticketresponse-template">
      {% with ticketresponses.empty_form as subform %}
      {% for hidden in subform.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% include 'spltcs/_form_field.html' with formfield=subform.notes %}
      {% include 'spltcs/_form_field.html' with formfield=subform.status %}
      {% include 'spltcs/_form_field.html' with formfield=subform.date_updated delete=subform.DELETE %}
      {% endwith %}
    </div>
    <div class="formFieldWrapper">
      <div class="formFieldLabel">
      </div>
      <div class="formFieldWrapper">
        <button type="submit" id="button_submit">Save</button>
      </div>
    </div>
	</form>
<script src="{% static 'spltcs/addformsetform.js' %}"></script>
<script src="{% static 'spltcs/sympselect.js' %}"></script>
<script type='text/javascript'>
  document.getElementById('btn_addTicketResponsesForm').addEventListener('click', function(e) {
    e.preventDefault();
    addformsetform("id_ticketresponse");
  });
</script>


